<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSC1</servlet-name>
        <servlet-class>controller.RSC1_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSC2</servlet-name>
        <servlet-class>controller.RSC2_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSC3</servlet-name>
        <servlet-class>controller.RSC3_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarSiapeUSuario</servlet-name>
        <servlet-class>controller.BuscarSiapeUSuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastroUsuario</servlet-name>
        <servlet-class>controller.CadastroUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroUsuario</servlet-name>
        <url-pattern>/CadastroUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cadastro</servlet-name>
        <jsp-file>/WEB-INF/view/cadastro.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cadastro</servlet-name>
        <url-pattern>/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/WEB-INF/view/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>professor-home</servlet-name>
        <jsp-file>/WEB-INF/view/professores/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>professor-home</servlet-name>
        <url-pattern>/professor-home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ComissaoPermanente-home</servlet-name>
        <jsp-file>/WEB-INF/view/ComissaoPermanente/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComissaoPermanente-home</servlet-name>
        <url-pattern>/ComissaoPermanente-home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSC1</servlet-name>
        <url-pattern>/RSC1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rsc1</servlet-name>
        <jsp-file>/WEB-INF/view/professores/rsc1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rsc1</servlet-name>
        <url-pattern>/rsc1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rsc2</servlet-name>
        <jsp-file>/WEB-INF/view/professores/rsc2.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rsc2</servlet-name>
        <url-pattern>/rsc2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSC2</servlet-name>
        <url-pattern>/RSC2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rsc3</servlet-name>
        <url-pattern>/rsc3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rsc3</servlet-name>
        <jsp-file>/WEB-INF/view/professores/rsc3.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RSC3</servlet-name>
        <url-pattern>/RSC3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home_escolher</servlet-name>
        <jsp-file>/WEB-INF/view/ComissaoPermanente/home_escolher.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home_escolher</servlet-name>
        <url-pattern>/home_escolher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rsc1_cp</servlet-name>
        <jsp-file>/WEB-INF/view/ComissaoPermanente/rsc1_cp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rsc1_cp</servlet-name>
        <url-pattern>/rsc1_cp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rsc2_cp</servlet-name>
        <jsp-file>/WEB-INF/view/ComissaoPermanente/rsc2_cp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rsc2_cp</servlet-name>
        <url-pattern>/rsc2_cp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rsc3_cp</servlet-name>
        <jsp-file>/WEB-INF/view/ComissaoPermanente/rsc3_cp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rsc3_cp</servlet-name>
        <url-pattern>/rsc3_cp</url-pattern>
    </servlet-mapping>
    <!---->
    <servlet>
        <servlet-name>ComissaoEspecial-home</servlet-name>
        <jsp-file>/WEB-INF/view/ComissaoEspecial/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComissaoEspecial-home</servlet-name>
        <url-pattern>/ComissaoEspecial-home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rsc1_ce</servlet-name>
        <jsp-file>/WEB-INF/view/ComissaoEspecial/rsc1_ce.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rsc1_ce</servlet-name>
        <url-pattern>/rsc1_ce</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rsc2_ce</servlet-name>
        <jsp-file>/WEB-INF/view/ComissaoEspecial/rsc2_ce.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rsc2_ce</servlet-name>
        <url-pattern>/rsc2_ce</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rsc3_ce</servlet-name>
        <jsp-file>/WEB-INF/view/ComissaoEspecial/rsc3_ce.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rsc3_ce</servlet-name>
        <url-pattern>/rsc3_ce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarSiapeUSuario</servlet-name>
        <url-pattern>/BuscarSiapeUSuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
   
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
